div.progress {
    background-color: #000000;
    width: 0%;
    text-align: center;
}

div.progress_bar {
    width: 560px;
}

.disabled_conquer_button {
    background-color: #292929;
    color: #c4beb3;
    border: none;
    outline: none;
    cursor: default;
    height: 60px;
    padding: 14px 16px;
}