.white_black {
    background: linear-gradient(90deg, rgba(255,255,255,1) 27%, rgba(0,0,0,1) 83%);
}

.hero_tab {
    border-radius: 5px;
    border-width: 2px;
    height: 320px;
    margin: 5px 0px;
}

.hero_tab * {
    display: inline-block;
}

.img_container {
    width: 10%;
    padding-top: 0%;
    margin: 5px;
}

.img_container img {
    width: 100%;
}

.hero_tab_internal {
    background: #555;
    vertical-align: top;
    margin: 5px;
    border-radius: 5px;
    border-width: 2px;
    width: 88.5%;
    height: 310px;
    float: right;
}

.hero_tab_internal button {
    display: inline-block;
}

.hero_tab_internal_desc * span {
    display: inline;
    margin: 0px;
}

.hero_tab_internal_desc * {
    display: block;
    margin: 0px 5px;
}

.hero_button {
    background-color: #ffffff;
    color: #3b3b3b;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 130px;
    padding: 14px 4px;
    transition: 0.3s;
    float: right;
}

.hero_button:hover {
    background-color: #efefef;
}

.hero_button:active {
    background-color: #cfcfcf;
}

/* colorings */

span.perk {
    color: rgb(237, 255, 72);
    font-weight: bold;
}

span.positive_bonus {
    color: #64dcec;
    font-weight: bold;
}

span.feature_unlock {
    color: #59ff75;
    font-weight: bold;
}